<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Загрузка-данных" data-toc-modified-id="1.-Загрузка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>1. Загрузка данных</a></span></li><li><span><a href="#Умножение-матриц" data-toc-modified-id="Умножение-матриц-2"><span class="toc-item-num">2&nbsp;&nbsp;</span><code>Умножение матриц</code></a></span><ul class="toc-item"><li><span><a href="#В-данном-задание-нужно-ответить-на-вопрос-о-том-что-если-умножить-обратимую-матрицу-на-матрицу-признаков,---Ответьте-на-вопрос-и-обоснуйте-решение." data-toc-modified-id="В-данном-задание-нужно-ответить-на-вопрос-о-том-что-если-умножить-обратимую-матрицу-на-матрицу-признаков,---Ответьте-на-вопрос-и-обоснуйте-решение.-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>В данном задание нужно ответить на вопрос о том что если умножить обратимую матрицу на матрицу признаков,   Ответьте на вопрос и обоснуйте решение.</a></span></li><li><span><a href="#Признаки-умножают-на-обратимую-матрицу.-Изменится-ли-качество-линейной-регрессии?-(Её-можно-обучить-заново.)" data-toc-modified-id="Признаки-умножают-на-обратимую-матрицу.-Изменится-ли-качество-линейной-регрессии?-(Её-можно-обучить-заново.)-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново.)</a></span></li><li><span><a href="#a.-Изменится.-Приведите-примеры-матриц." data-toc-modified-id="a.-Изменится.-Приведите-примеры-матриц.-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>a. Изменится. Приведите примеры матриц.</a></span></li><li><span><a href="#b.-Не-изменится.-Укажите,-как-связаны-параметры-линейной-регрессии-в-исходной-задаче-и-в-преобразованной." data-toc-modified-id="b.-Не-изменится.-Укажите,-как-связаны-параметры-линейной-регрессии-в-исходной-задаче-и-в-преобразованной.-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>b. Не изменится. Укажите, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.</a></span></li></ul></li><li><span><a href="#Алгоритм-преобразования" data-toc-modified-id="Алгоритм-преобразования-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Алгоритм преобразования</a></span></li><li><span><a href="#Проверка-алгоритма" data-toc-modified-id="Проверка-алгоритма-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Проверка алгоритма</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Защита персональных данных клиентов

Вам нужно защитить данные клиентов страховой компании «Хоть потоп». Разработайте такой метод преобразования данных, чтобы по ним было сложно восстановить персональную информацию. Обоснуйте корректность его работы.

Нужно защитить данные, чтобы при преобразовании качество моделей машинного обучения не ухудшилось. Подбирать наилучшую модель не требуется.

## 1. Загрузка данных

In [1]:
import pandas as pd 
import numpy as np 
from sklearn.metrics import mean_squared_error
from numpy.linalg import inv
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv('/datasets/insurance.csv')

In [3]:
df

      Пол  Возраст  Зарплата  Члены семьи  Страховые выплаты
0       1     41.0   49600.0            1                  0
1       0     46.0   38000.0            1                  1
2       0     29.0   21000.0            0                  0
3       0     21.0   41700.0            2                  0
4       1     28.0   26100.0            0                  0
...   ...      ...       ...          ...                ...
4995    0     28.0   35700.0            2                  0
4996    0     34.0   52400.0            1                  0
4997    0     20.0   33900.0            2                  0
4998    1     22.0   32700.0            3                  0
4999    1     28.0   40600.0            1                  0

[5000 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Пол                5000 non-null   int64
 1   Возраст            5000 non-null   float64
 2   Зарплата           5000 non-null   float64
 3   Члены семьи        5000 non-null   int64
 4   Страховые выплаты  5000 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 195.4 KB

In [5]:
df.describe()

               Пол      Возраст      Зарплата  Члены семьи  Страховые выплаты
count  5000.000000  5000.000000   5000.000000  5000.000000        5000.000000
mean      0.499000    30.952800  39916.360000     1.194200           0.148000
std       0.500049     8.440807   9900.083569     1.091387           0.463183
min       0.000000    18.000000   5300.000000     0.000000           0.000000
25%       0.000000    24.000000  33300.000000     0.000000           0.000000
50%       0.000000    30.000000  40200.000000     1.000000           0.000000
75%       1.000000    37.000000  46600.000000     2.000000           0.000000
max       1.000000    65.000000  79000.000000     6.000000           5.000000

In [6]:
features = df.drop(columns='Страховые выплаты').values

In [7]:
target = df["Страховые выплаты"]

**Вывод**

Итак что мы можем заметить, данные чистые т.е без NaN-ов, собственно как мне кажется больше здесь сильно не о чем говорить, приступим к следующим заданиям!

## `Умножение матриц`

### В данном задание нужно ответить на вопрос о том что если умножить обратимую матрицу на матрицу признаков,   Ответьте на вопрос и обоснуйте решение.
   ### Признаки умножают на обратимую матрицу. Изменится ли качество линейной регрессии? (Её можно обучить заново.)
   ### a. Изменится. Приведите примеры матриц.
   ### b. Не изменится. Укажите, как связаны параметры линейной регрессии в исходной задаче и в преобразованной.

Итак я затрудняюсь ответить на этот вопрос по причине того что не совсем понимаю, вывод формул которые мне подсказали мои однокогорчане) Итак распишу поподробнее. 

Чтобы решить данную задачу нам нужно воспользоваться след.формулами 

Предсказания:

$$
a = Xw (1)
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)(2)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y (3)
$$


Затем при подстановке формулы обучения в формулу предсказаний у нас получается след.формула 

$$
a = X (X^T X)^{-1} X^T y (4)
$$

Затем каким то невероятным образом эта формула преобразуется в 
$$
a = X (X^T X)^{-1} X^T y = X X^{-1}(X^T)^{-1}X^T y  = X X^{-1} y (5)
$$

Т.е вот эта часть $(X^T X)^{-1} X^T$ преобразуется в $X^{-1}(X^T)^{-1}X^T = X^{-1}$

<!-- $$
(X^T X)^{-1} X^T = X^{-1}(X^T)^{-1}X^T = X^{-1}
$$ -->

Момент который мне не понятен это как мы раскрываем скобки, я весь день вчера потратил на это ничего годного так и не придумав, перечитал трэды в слаке но так и не додумался . Сослан Табуев указывает следующие свойства матриц которые должны помочь в решение данного вопроса а именно:

`1. Не коммутативность `
$$
A*B \not =  B*A
$$

`2. Свойство транспонирования произведения матриц`

$$
(A*B)^T = B^T*A^T
$$

`3. Cвойство обратной матрицы от произведения матриц `
$$ 
(A*B)^{-1} = B^{-1} * A^{-1}
$$

$$
w_P = ((XP)^T XP)^{-1} (XP)^T y = P^{-1} \cdot (X^T  X)^{-1} \cdot (P^T)^{-1} \cdot P^T \cdot X^T \cdot y  = P^{-1} \cdot (X^T  X)^{-1} \cdot y
$$
$$
a_P = X_P w_P = X \cdot P \cdot P^{-1} \cdot (X^T  X)^{-1} \cdot X^T \cdot y = X \cdot (X^T  X)^{-1} \cdot X^T \cdot y 
$$

Исходя из этого пол-ся что $a_p = a$, что и требовалось док-ть



</div>

In [10]:
features_new = features @ A

In [11]:
features_new

array([[39602.61253462, 25426.22828623, 22015.92592929, 46344.01817757],
       [30341.38377085, 19488.10971936, 16873.67569698, 35513.68318551],
       [16767.72508978, 10771.45016467,  9326.19307124, 19627.79834824],
       ...,
       [27066.28379339, 17374.01668728, 15044.17008538, 31670.38460348],
       [26109.63904415, 16761.5948294 , 14513.93949932, 30551.62140618],
       [32416.39569669, 20809.56231371, 18018.72284452, 37931.7781402 ]])

In [12]:
pd.DataFrame(features_new)

                 0             1             2             3
0     39602.612535  25426.228286  22015.925929  46344.018178
1     30341.383771  19488.109719  16873.675697  35513.683186
2     16767.725090  10771.450165   9326.193071  19627.798348
3     33293.459056  21369.194825  18503.683984  38955.127246
4     20840.055105  13383.046454  11587.741263  24390.275775
...            ...           ...           ...           ...
4995  28503.989666  18300.470155  15846.097915  33355.917654
4996  41836.521423  26855.822504  23254.093119  48954.528467
4997  27066.283793  17374.016687  15044.170085  31670.384603
4998  26109.639044  16761.594829  14513.939499  30551.621406
4999  32416.395697  20809.562314  18018.722845  37931.778140

[5000 rows x 4 columns]

Для наглядности я решил проверить, может это я туплю и не могу открыть скобки в данном уравнение $(X^T X)^{-1} X^T = X^{-1}(X^T)^{-1}X^T$, но выскакивает ошибка(ниже в виде скриншота), что в очередной раз меня заводит в тупик по поводу того как происходит всё же преобразование, что у нас получается такая формула $X^{-1}(X^T)^{-1}X^T$ которая почему то не работает для наших данных

Внизу эта формула $(X^T X)^{-1} X^T$

In [13]:
np.linalg.inv(features.T.dot(features)).dot(features.T)

array([[ 3.01760389e-04, -4.42026091e-04, -2.57065244e-04, ...,
        -2.98459505e-04,  4.67305293e-04,  4.14826629e-04],
       [ 6.89399360e-06,  3.23622848e-05,  2.53265908e-05, ...,
        -8.72997527e-06, -1.21308831e-05, -4.89522740e-06],
       [-4.90136644e-10, -1.22596726e-08, -9.28637856e-09, ...,
         8.70083580e-09, -2.14343750e-09,  4.09172696e-09],
       [-8.00689493e-05, -5.83182600e-05, -1.31087657e-04, ...,
         1.85953376e-04,  3.33569345e-04, -2.22482492e-05]])

Теперь внизу эта формула $X^{-1}(X^T)^{-1}X^T$

In [14]:
#inv(features).dot(inv(features.T)).dot(features.T)

Итак теперь посчитаем веса для новой и изначальной матрицы и посчитаем MSE в обеих случаях

In [15]:
w = np.linalg.inv(features.T.dot(features)).dot(features.T).dot(target)

In [16]:
w_new = np.linalg.inv(features_new.T.dot(features_new)).dot(features_new.T).dot(target)

In [17]:
mean_squared_error(features @ w, target)

0.1494551172773669

In [18]:
mean_squared_error(features_new @ w_new, target)

0.14945511728339556

И собственно как можно заметить значения MSE для преобразованных данных и для обычных не изменяются

Обозначения:

- $X$ — матрица признаков (нулевой столбец состоит из единиц)

- $y$ — вектор целевого признака

- $P$ — матрица, на которую умножаются признаки

- $w$ — вектор весов линейной регрессии (нулевой элемент равен сдвигу)

Предсказания:

$$
a = Xw
$$

Задача обучения:

$$
w = \arg\min_w MSE(Xw, y)
$$

Формула обучения:

$$
w = (X^T X)^{-1} X^T y
$$

**Ответ:** 

**Обоснование:** ...

## Алгоритм преобразования

**Алгоритм**

Итак раз мы можем умножать на обратимую матрицу и получать корректные предсказания для линейной регресии, то становится понятно что можно таким образом шифровать изначальные данные. Поэтому алгоритм такой

1. Создаём обратимую матрицу А
2. Находим новую матрицу признаков X_new = X.dot(A) и проверяем ее на обратимость 
3. Обучим модели на новых признаках и на старых (X и X_new)
4. Сравним значения R2 для обеих моделей

**Обоснование**

Т.к из-за умножения на обратимую матрицу как должно быть доказано(но я до этого всё ещё не додумался к сожалению) значение предсказаний не меняется поэтому такой метод шифрования можно применять

## Проверка алгоритма

In [19]:
model_orig = LinearRegression().fit(features, target)
model_changed = LinearRegression().fit(features_new, target)

In [20]:
r2_score(target, model_changed.predict(features_new))

0.42494550286672583

In [21]:
r2_score(target, model_orig.predict(features))

0.42494550286668